<h3>List of races</h3>
<ul>
  <li [ngClass]="{ odd: odd, even: even }" *ngFor="let race of races; let odd=odd; let even=even">{{race}}</li>
</ul>
<div [ngSwitch]="races.length % 2">
  <div *ngSwitchCase="0">Odd number</div>
  <div *ngSwitchCase="1">Even number</div>
</div>
<!--<ul>
  <template ngFor let-race [ngForOf]="races">
  <li>{{race}}</li>
  </template>
</ul>-->
<div [style.background]="backgroundColor">
  <p>Number of races: {{races.length}}</p>
</div>
<div [ngStyle]="{background: backgroundColor, color: textColor}">
  <p>Number of races: {{races.length}}</p>
</div>
<button (click)="refreshRaces()">Refresh Races</button>
